version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-ingestion_db}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d ingestion_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    image: nightrider911/assignment:latest
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      COINPAPRIKA_API_URL: ${COINPAPRIKA_API_URL:-https://api.coinpaprika.com/v1}
      COIN_IDS: '["btc-bitcoin", "eth-ethereum"]'
      LOG_LEVEL: INFO
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
